/*fonts */
/*colors*/
.logo {
  width: 50%;
}
@media (min-width: 1024px) {
  .logo {
    width: 20%;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .logo {
    width: 30%;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  height: 46px;
  margin: 0;
}
.location i {
  margin-right: 20px;
}

.text-2xl {
  font-weight: 500;
  margin-left: 20px;
  margin-top: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #F6F6F6;
}
.description p {
  margin: 0 30px 30px;
  font-weight: 100;
}
.description .text-2xl {
  font-weight: 500;
  margin: 40px 60px 20px;
}
.description .btn {
  margin-bottom: 50px;
}

.functioning {
  margin-bottom: 60px;
}
@media (min-width: 1024px) {
  .functioning {
    margin-top: 25px;
  }
  .functioning .card + .card {
    margin-top: 0;
    margin-right: 30px;
  }
  .functioning .text-2xl {
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
  }
  .functioning .list {
    display: flex;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .functioning {
    margin-top: 25px;
  }
  .functioning .card + .card {
    margin-top: 0;
    margin-right: 10px;
  }
  .functioning .text-2xl {
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
  }
  .functioning .list {
    display: flex;
  }
}

.card--more-rounded {
  width: 88%;
  margin-left: 30px;
  overflow: visible;
}
.card--more-rounded:hover {
  background-color: #F6EDFF;
}
.card--more-rounded:hover i {
  color: #9356DC;
}
@media (min-width: 1024px) {
  .card--more-rounded .card__body {
    text-align: center;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .card--more-rounded .card__body {
    font-size: 14px;
    padding: 5px 5px 5px 16px;
  }
}
.card--more-rounded i {
  margin: 0 20px 0 10px;
  color: #7E7E7E;
  font-size: 18px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .card--more-rounded i {
    margin: 5px;
  }
}
.card--more-rounded + .card--more-rounded {
  margin-top: 1.5rem;
}
@media (min-width: 1024px) {
  .card--more-rounded + .card--more-rounded {
    margin-top: 0px;
  }
}

.badge {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%);
}
@media (min-width: 1024px) {
  .badge {
    top: 0;
    left: 50%;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .badge {
    top: 0;
    left: 50%;
  }
}

.restaurants {
  background-color: #F6F6F6;
  padding: 50px 20px 60px;
}
@media (min-width: 1024px) {
  .restaurants {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .restaurants .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .restaurants .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .restaurants .card {
    margin: 20px;
    height: 250px;
    width: 500px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .restaurants .card {
    margin: 20px;
    height: 250px;
    width: 300px;
  }
}
.restaurants .badge {
  position: absolute;
  top: 10%;
  left: 86%;
  background-color: #99E2D0;
  color: #008765;
  border-radius: 2px;
}
.restaurants .text-2xl {
  margin: 0 0px 20px 60px;
}
@media (min-width: 1024px) {
  .restaurants .text-2xl {
    text-align: center;
    margin-left: 0;
  }
}
.restaurants .card__body {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6px;
}
.restaurants .text-l {
  display: flex;
  flex-direction: column;
}
.restaurants .text-l p {
  font-weight: 100;
}
.restaurants strong {
  margin: 6px 0;
}
.restaurants p {
  margin: 0;
}
.restaurants .fa-heart {
  color: #7E7E7E;
  font-size: 20px;
  margin-top: 10px;
}

.card {
  position: relative;
}
.card img {
  height: 180px;
}
.card + .card {
  margin-top: 20px;
}
.card a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 54px;
  right: 0;
}

/*# sourceMappingURL=accueil.css.map */
