/*fonts */
/*colors*/
.logo {
  width: 50%;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .logo {
    width: 20%;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .logo {
    width: 30%;
  }
}

.return {
  margin-right: auto;
  margin-left: 20px;
}
.return .fa-arrow-left {
  text-decoration: none;
  color: black;
}

.reception {
  width: 100%;
}
@media (min-width: 1024px) {
  .reception {
    height: 400px;
    object-fit: cover;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .reception {
    height: 300px;
    object-fit: cover;
  }
}

.dish-restaurants {
  background-color: #F6F6F6;
  margin-top: -80px;
  padding-bottom: 60px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
}
@media (min-width: 1024px) {
  .dish-restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.dish-restaurants h3 {
  display: flex;
  justify-content: space-between;
  padding: 35px 35px 0 20px;
  font-size: 26px;
}
.dish-restaurants h3 i {
  font-weight: 100;
}
@media (min-width: 1024px) {
  .dish-restaurants .card-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .dish-restaurants .details {
    display: flex;
    justify-content: space-around;
  }
}
.dish-restaurants .title {
  margin: 36px 0 16px 20px;
}
@media (min-width: 1024px) {
  .dish-restaurants .title {
    display: flex;
    flex-direction: column;
  }
}
.dish-restaurants .title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin-top: 4px;
  background-color: #99E2D0;
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}
.card:nth-of-type(1) {
  animation-delay: 0.25s;
}

.card:nth-of-type(2) {
  animation-delay: 0.5s;
}

.card:nth-of-type(3) {
  animation-delay: 0.75s;
}

.card:nth-of-type(4) {
  animation-delay: 1s;
}

.card:nth-of-type(5) {
  animation-delay: 1.25s;
}

.card:nth-of-type(6) {
  animation-delay: 1.5s;
}

.card:nth-of-type(7) {
  animation-delay: 1.75s;
}

.card:nth-of-type(8) {
  animation-delay: 2s;
}

.card:nth-of-type(9) {
  animation-delay: 2.25s;
}

.card:nth-of-type(10) {
  animation-delay: 2.5s;
}

.card {
  height: 70px;
  margin: 10px 10px 10px 15px;
  background-color: white;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}
@media (min-width: 1024px) {
  .card {
    width: 400px;
  }
}
.card:hover .check {
  width: 60px;
  transform: translateX(0%);
}
.card:hover .check i {
  animation-duration: 1s;
  animation-name: rotate;
}
.card :first-child {
  position: relative;
}
.card .check {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin: -14px -24px -14px 24px;
  transition: transform ease 1s, width ease 1s;
  width: 0;
  color: white;
  background-color: #99E2D0;
  transform: translateX(100%);
}
.card .card__body {
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
}
.card .text-xl {
  flex: 1;
  min-width: 0;
}

.tarif {
  margin-left: 10px;
}

.text-xl p {
  font-weight: 100;
  font-size: 16px;
  margin: 6px 0 0 0;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fa-heart:hover {
  animation-duration: 1s;
  animation-name: heart;
  font-weight: 900;
  background: #FF79DA;
  background: -webkit-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: -moz-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.btn-order {
  display: flex;
  justify-content: center;
  margin: 45px 0 0;
}
.btn-order .btn {
  padding: 10px 30px;
}

/*# sourceMappingURL=restaurants.css.map */
