@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/placeholder";

.location {
  @extend %flex-center;
  background: $gray200;
  height: 46px;

  i {
    margin-right: 20px;
  }
}

.text-2xl {
  font-weight: $font-500;
  margin-left: 20px;
  margin-top: 50px;
}

.description {
  @extend %flex-center;
  @extend %flex-column;
  text-align: center;
  background: $gray100;

  p {
    margin: 0 30px 30px;
    font-weight: $font-100;
  }

  .text-2xl {
    font-weight: $font-500;
    margin: 40px 60px 20px;
  }

  .btn {
    margin-bottom: 50px;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.functioning {
  margin-bottom: 60px;

  @include respond-to("desktop") {
    margin-top: 25px;
    .card + .card {
      margin-top: 0;
      margin-right: 30px;
    }

    .text-2xl {
      margin-right: 20px;
      margin-top: 30px;
      text-align: center;
    }

    .list {
      flex-direction: row;
    }
  }

  @include respond-to("tablette") {
    margin-top: 25px;
    .card + .card {
      margin-top: 0;
      margin-right: 10px;
    }

    .text-2xl {
      margin-right: 20px;
      margin-top: 30px;
      text-align: center;
    }

    .list {
      flex-direction: row;
    }
  }
}

.card--more-rounded {
  width: 88%;
  margin-left: 30px;
  overflow: visible;

  &:hover {
    background-color: #F6EDFF;

    i {
      color: $primary-color;
    }
  }

  & + & {
    margin-top: 1.5rem;

    @include respond-to("desktop") {
      margin-top: 0;
    }
  }

  i {
    margin: 0 20px 0 10px;
    color: $gray300;
    @include font-size("xl");

    @include respond-to("tablette") {
      margin: 5px;
    }
  }

  .card__body {
    @include respond-to("desktop") {
      text-align: center;
    }

    @include respond-to("tablette") {
      @include font-size("m");
      padding: 5px 5px 5px 16px;
    }
  }
}

.badge {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%);

  @include respond-to("desktop") {
    top: 0;
    left: 50%;
  }

  @include respond-to("tablette") {
    top: 0;
    left: 50%;
  }
}


.restaurants {
  background-color: $gray100;
  padding: 50px 20px 60px;

  @include respond-to("desktop") {
    width: 100%;
  }

  .list {
    @include respond-to("desktop") {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include respond-to("tablette") {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .card {
    @include respond-to("desktop") {
      margin: 20px;
      height: 250px;
      width: 500px;
    }

    @include respond-to("tablette") {
      margin: 20px;
      height: 250px;
      width: 300px;
    }
  }

  .badge {
    position: absolute;
    top: 10%;
    left: 86%;
    background-color: $tertiary-color;
    color: #008765;
    border-radius: 2px;
  }

  .text-2xl {
    margin: 0 -0px 20px 0px;

    @include respond-to("desktop") {
      text-align: center;
      margin-left: 0;
    }

    @include respond-to("tablette") {
      text-align: center;
    }
  }

  .card__body {
    display: flex;
    justify-content: space-between;
    margin: 0 0 6px;
  }

  .text-l {
     @extend %flex-column;

    p {
      font-weight: $font-100;
    }
  }

  strong {
    margin: 6px 0;
  }

  p {
    margin: 0;
  }

  .fa-heart {
    color: $gray300;
    @include font-size("2xl");
    margin-top: 10px;
  }
}

.card {
  img {
    height: 180px;
  }

  & + & {
    margin-top: 20px;
  }

  & a::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 54px;
    right: 0;
  }
}
