@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/placeholder";

.return {
  position: absolute;
  left: 0;
  height: $navbar-height;
  width: $navbar-height;
  @extend %flex-center;
  text-decoration: none;
  color: black;
}

.reception {
  width: 100%;

  @include respond-to("desktop") {
    height: 400px;
    object-fit: cover;
  }

  @include respond-to("tablette") {
    height: 300px;
    object-fit: cover;
  }
}

.dish-restaurants {
  background-color: $gray100;
  margin-top: -80px;
  padding-bottom: 60px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;

  @include respond-to("desktop") {
    @include flex-column;
    flex-wrap: wrap;
  }


  h3 {
    display: flex;
    justify-content: space-between;
    padding: 35px 35px 0 20px;
    font-size: 26px;

    i {
      font-weight: $font-100;
    }
  }

  .card-block {
    @include respond-to("desktop") {
      @include flex-column;
      flex-wrap: wrap;
    }

  }

  .details {
    @include respond-to("desktop") {
      display: flex;
      justify-content: space-around;
    }
  }

  .title {
    margin: 36px 0 16px 20px;

    @include respond-to("desktop") {
      @include flex-column;
    }

    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      margin-top: 4px;
      background-color: $tertiary-color;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

.card {
  height: 70px;
  margin: 10px 10px 10px 15px;
  background-color: white;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;

  @include respond-to("desktop") {
    width: 400px;
  }

  &:hover .check {
    width: 60px;
    transform: translateX(0%);

    i {
      animation-duration: 1s;
      animation-name: rotate;
    }
  }

  &:first-child {
    position: relative;
  }

  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) {
      animation-delay: 0.25s * $i;
    }
  }

  .check {
    @extend %flex-center;
    align-self: stretch;
    margin: -14px -24px -14px 24px;
    transition: transform ease 1s, width ease 1s;
    width: 0;
    color: white;
    background-color: $tertiary-color;
    transform: translateX(100%);
  }

  .card__body {
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
  }

  .text-xl {
    flex: 1;
    min-width: 0;
  }
}

.tarif {
  margin-left: 10px;
}

.text-xl p {
  font-weight: $font-100;
  @include font-size("l");
  margin: 6px 0 0 0;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.fa-heart:hover {
  animation-duration: 1s;
  animation-name: heart;
  font-weight: bold;
  background: #FF79DA;
  background: -webkit-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: -moz-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .50;
  }
  100% {
    opacity: 1;
  }
}

.btn-order {
  @extend %flex-center;
  margin: 45px 0 0;

  .btn {
    padding: 10px 30px;
  }
}




