@mixin font-size($size) {
    @if map-has-key($font-sizes, $size) {
        $value: map-get($map: $font-sizes, $key: $size);
        font-size: $value;
    }
    @else {
        @warn "Unknown size"
    }
}


@mixin respond-to($name) {
    @media #{inspect(map-get($breakpoints, $name))} {
        @content;
    }
}

//ici j'utilise une mixin car les placeholders ne fonctionne pas avec les media query
@mixin flex-column(){
    display: flex;
    flex-direction: column;
}

