@use "sass:string";

/*fonts */
$default-font: "Roboto", sans-serif;
$title-font: "Shrikhand", sans-serif;

$font-500: 500;
$font-100: 100;

/*colors*/
$primary-color:#9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$gray100: #F6F6F6;
$gray200: #EAEAEA;
$gray300: #7E7E7E;


$navbar-height: 60px;


$font-sizes: (
  "xs": 8px,
  "s": 10px,
  "m": 14px,
  "l": 16px,
  "xl": 18px,
  "2xl": 24px,
  "3xl": 28px,
);

$total-items: 5;

$test: 600px;
$test2: 1024px;

//Responsive
$breakpoints: (
        "desktop": (min-width: $test2),
        /* @see https://sass-lang.com/documentation/interpolation */
        //"tablette": #{'(min-width: #{$test}) and (max-width: 1023px)'}, => pas propre
        //"tablette": (min-width: $test) #{"and"} (max-width: ($test2 - 1px)),=> moyennement propre
        "tablette": (min-width: $test) string.unquote("and") (max-width: ($test2 - 1px)), // plus propre
);